.tr-editor-area {
    color: black !important;
}

.tr-input-wrapper:focus {
    border-color: unset !important;
    outline: none !important;
    box-shadow: unset !important;
    border-radius: 0 !important;
    border: none;
}

.tr-input-wrapper {
    border-radius: 0 !important;
    border: none;
    box-shadow: unset !important;
}

.butter-component-value-hiddenLabel {
    width: 100%;
}

.tr-editor {
    padding-left: 10px !important;
}

.tr-template-single-line {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.tr-dropdown {
    border-radius: unset !important;
}

.tr-editor-area {
    padding-left: 10px !important;
}

.hideme {
    display: none !important;
}

.button {
    cursor: pointer;
}

.butter-component-table-column-label {
    color: black;
}

.butter-table-row {
    color: black;
}